@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;800&family=Lexend+Deca:wght@200;300;400;500;600&display=swap");

$text-color: #fff;
$bg-color1: rgb(226, 133, 37);
$bg-color2: rgb(1, 105, 114);
$bg-color3: rgb(0, 64, 63);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
