@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

$bg-color-primary: rgb(10, 12, 27);
$bg-color-secondary: rgb(28, 25, 56);
$primary-color: rgb(170, 94, 215);
$text-color: #fff;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
