@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-color: #0a0c1b;
  color: #fff;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
}

h1,
b {
  font-weight: 700;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.card {
  width: 100%;
  max-width: 1000px;
  background-color: #1c1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.5em;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 360px;
  background: #aa5ed7 url(../images/image-header-mobile.jpg) no-repeat center center/cover;
  background-blend-mode: overlay;
}

@media screen and (min-width: 800px) {
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "A B";
  }
  .card__img {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  .card .card-content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  text-align: center;
}

.card-content h1 {
  font-size: 2rem;
}

.card-content span {
  color: #aa5ed7;
}

.card-content > p {
  margin-top: 1.5em;
  line-height: 1.7;
}

@media screen and (min-width: 800px) {
  .card-content {
    display: unset;
    text-align: left;
    padding: 3.215em;
  }
  .card-content h1 {
    line-height: 1.3;
  }
  .card-content > p {
    font-size: 0.85rem;
    max-width: 350px;
  }
}

.card-stats__item {
  margin-top: 2em;
}

.card-stats b {
  font-size: 1.715rem;
}

.card-stats p {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 800px) {
  .card-stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-top: 1em;
  }
}

.card-stats b {
  font-size: 1.5rem;
}

.card-stats p {
  font-size: 0.625rem;
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  margin-left: 3px;
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */